extends layout

block content
	div.container
		div.col-md-6.offset-md-3.border-bottom.text-center
			h1.text-center.alert.alert-warning Game Portal
			h4 #{title}
			h6.mb-3 #{subTitle}
		dov.row.justify-content-md-center
			div.col-lg-5.border-bottom.clearfix
				p.text-center #{message}
				h3.text-center.my-5 Welcome Dear User Login Protected Area
